{% extends "base.html"%}
{% block title %}<title>欢迎登陆短信平台</title>{% endblock %}
{% block style %}
<style>
    #myself{
       height: 10px;
    }
    #myself p{
        font-size:16px;
        bottom:0px;
        padding:0px;
        margin:20px;
	}
</style>
{% endblock %}
{% block body %}
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <a class="btn" href="/index/index">短信发送统计</a>
            &nbsp;&nbsp;
            <a class="btn btn-success" href="/index/click">短链接点击统计</a>
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        今日短链接点击统计 ({{ date('Y-m-d', time()) }})
                    </header>
                    <div id='myself'>
                     <p>
                    {% if todayInfo.short_url_nums %}
                    短链接数量：{{ todayInfo.short_url_nums }}
                    {% else %}
                    短链接数量：0
                    {% endif %}
                    
                    {% if todayInfo.short_url_total_click_nums %}
                    &nbsp;&nbsp;&nbsp;&nbsp;总点击次数：{{ todayInfo.short_url_total_click_nums }}
                    {% else %}
                     &nbsp;&nbsp;&nbsp;&nbsp;总点击次数：0
                    {% endif %}
                    
                    {% if todayInfo.short_url_total_click_uv %}
                     &nbsp;&nbsp;&nbsp;&nbsp;独立UV：{{ todayInfo.short_url_total_click_uv }}({{todayInfo.short_url_total_click_rate}}%)
                    {% else %}
                     &nbsp;&nbsp;&nbsp;&nbsp;独立UV：0(0%)
                    {% endif %}
                    
                    
                    {% if todayInfo.short_url_unique_ip_nums %}
                     &nbsp;&nbsp;&nbsp;&nbsp;唯一IP：{{ todayInfo.short_url_unique_ip_nums }}
                    {% else %}
                     &nbsp;&nbsp;&nbsp;&nbsp;唯一IP：0
                    {% endif %}
                     </p>
                    </div>
                    
                    <header class="panel-heading"></header>
                    <header class="panel-heading">
                        近24小时分时段统计
                    </header>
                    <div class="form-inline">
                            <div class="form-group col-lg-1">
                                <select class="form-control searchBtn" name="projectId" id="projectId">
                                    <option value="0">产品</option>
                                    {% for project in projectList %}
                                    <option value="{{ project.id }}" {% if project.id == projectId %} selected {% endif %}>{{ project.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-lg-1">
                                <select class="form-control searchBtn" name="taskId" id="taskId">
                                    <option value="0">任务</option>
                                    {% for task in taskList %}
                                    <option value="{{ task.id }}" {% if task.id== taskId %} selected {% endif %}>{{ task.short_task_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-lg-1">
                                <select class="form-control searchBtn" name="shortFrom" id="shortFrom">
                                    <option value="-1">来源</option>
                                    <option value="2" {% if 2 == shortFrom %} selected {% endif %}>web端</option>
                                    <option value="1" {% if 1 == shortFrom %} selected {% endif %}>接口</option>
                                </select>
                            </div>
                        
                            <div class="form-group col-lg-2">
                                <select class="form-control searchBtn" name="checkDevice" id="checkDevice">
                                    <option value="-1">选择设备</option>
                                    <option value="3" {% if 3 == checkDevice %} selected {% endif %}>PC端</option>
                                    <option value="1" {% if 1 == checkDevice %} selected {% endif %}>移动端</option>
                                    <option value="2" {% if 2 == checkDevice %} selected {% endif %}>未知</option>                               
                                </select>
                            </div>

                            <div class="checkbox" style="margin-left:10px;">
                                <label>批次</label>
                            </div>
                            <div class="form-group col-lg-4" style="float:none;">
                                <div class="input-group input-large">
                                    <input type="text" class="form-control" id="short_url_task_id" name="short_url_task_id" value="{{short_url_task_id}}">
                                </div>
                            </div>
                            <button type="submit" id="search" class="btn btn-success">搜索</button>
                    </div>
                    <div class="panel-body">
                        <!--折线图-->
                        <canvas id="line" height="300" width="1000"></canvas>
                    </div>
                    <div class="panel-body text-center">
                        <table class="table table-bordered">
                            <thead class="cf">
                            <tr>
                                <th></th>
                                {% for k in key %}
                                <th>{{k}}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>点击次数</td>
                                {% for clicNum in clickNums %}
                                <th>{{clicNum}}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>独立UV</td>
                                {% for uv in clickUv %}
                                <th>{{uv}}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>唯一IP</td>
                                {% for ipNum in ipNums %}
                                <th>{{ipNum}}</td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    
                    <header class="panel-heading"></header>
                    <header class="panel-heading">
                        短链接点击对比
                    </header>
                    <div class="form-inline">
                            <div class="form-group col-lg-1">
                                <select class="form-control searchClickBtn" name="projectClickId" id="projectClickId">
                                    <option value="0">产品</option>
                                    {% for project in projectList %}
                                    <option value="{{ project.id }}" {% if project.id == projectId %} selected {% endif %}>{{ project.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-lg-1">
                                <select class="form-control searchClickBtn" name="taskClickId" id="taskClickId">
                                    <option value="0">任务</option>
                                    {% for task in taskList %}
                                    <option value="{{ task.id }}" {% if task.id== taskId %} selected {% endif %}>{{ task.short_task_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-lg-1">
                                <select class="form-control searchClickBtn" name="shortClickFrom" id="shortClickFrom">
                                    <option value="-1">来源</option>
                                    <option value="2" {% if 2 == shortFrom %} selected {% endif %}>web端</option>
                                    <option value="1" {% if 1 == shortFrom %} selected {% endif %}>接口</option>
                                </select>
                            </div>
                        
                            <div class="form-group col-lg-2">
                                <select class="form-control searchClickBtn" name="checkClickDevice" id="checkClickDevice">
                                    <option value="-1">选择设备</option>
                                    <option value="3" {% if 3 == checkDevice %} selected {% endif %}>PC端</option>
                                    <option value="1" {% if 1 == checkDevice %} selected {% endif %}>移动端</option>
                                    <option value="2" {% if 2 == checkDevice %} selected {% endif %}>未知</option>                               
                                </select>
                            </div>
                        
                            <div class="checkbox" style="margin-left:20px;">
                                <label>日期</label>
                            </div>
                            <div class="form-group col-lg-3" style="float:none;">
                                <div class="input-group input-large" data-date="2017-01-01"
                                     data-date-format="yyyy-mm-dd">
                                    <input type="text" class="form-control dpd1" id="timeFrom" name="timeFrom" value="{{timeFrom}}">
                                    <span class="input-group-addon">至</span>
                                    <input type="text" class="form-control dpd2" id="timeTo" name="timeTo" value="{{timeTo}}">
                                </div>
                            </div>
                        
                            <div class="checkbox" style="margin-left:10px;">
                                <label>批次</label>
                            </div>
                            <div class="form-group col-lg-2" style="float:none;">
                                <div class="input-group input-large">
                                    <input type="text" class="form-control" id="short_url_task_click_id" name="short_url_task_click_id" value="{{short_url_task_id}}">
                                </div>
                            </div>
                            <button type="submit" id="searchClick" class="btn btn-success">搜索</button>
                    </div>
                    <div class="panel-body">
                        <canvas id="lineClick" height="300" width="1000"></canvas>
                    </div>
                    <div class="panel-body text-center">
                        <table class="table table-bordered">
                            <thead class="cf">
                            <tr>
                                <th></th>
                                {% for kc in keyClick %}
                                <th>{{kc}}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>短链接数量</td>
                                {% for snc in shortNumsClick %}
                                <th>{{snc}}</th>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>点击次数</td>
                                {% for clickNum in clickNumsClick %}
                                <th>{{clickNum}}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>独立UV</td>
                                {% for uvc in clickUvClick %}
                                <th>{{uvc}}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>唯一IP</td>
                                {% for ipcNums in ipNumsClick %}
                                <th>{{ipcNums}}</td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
        </div>
        <input type="hidden" id="keyJson" value="{{keyJson}}">
        <input type="hidden" id="keyClickJson" value="{{keyClickJson}}">
    </section>
</section>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/home/assets/fuelux/js/spinner.min.js"></script>
<script type="text/javascript" src="/home/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/home/js/advanced-form-components.js"></script>
<script src="/home/assets/echarts/echarts.min.js"></script>
<script>
    var myChart = echarts.init(document.getElementById('line'));
    option = {
        color:['#FFF68F', '#BCEE68','#ABABAB'],
        tooltip : {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        legend: {
            data:['点击次数','独立UV','唯一IP']
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : {{keyJson}}
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'点击次数',
                type:'line',
                smooth: true,
                stack: '点击次数',
                areaStyle: {normal: {opacity:0.4}},
                data:{{clickNumsJson}}
            },
            {
                name:'独立UV',
                type:'line',
                smooth: true,
                stack: '独立UV',
                areaStyle: {normal: {opacity:0.4}},
                data:{{clickUvJson}}
            },
            {
                name:'唯一IP',
                type:'line',
                stack: '唯一IP',
                smooth: true,
                areaStyle: {normal: {opacity:0.4}},
                data:{{ipNumsJson}}
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    
    
    
    var myChartClick = echarts.init(document.getElementById('lineClick'));
    optionClick = {
        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data: ['短链接数量','点击次数','独立UV','唯一IP']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            data: {{keyClickJson}}
        },
        yAxis:  {
            type: 'value'
        },
        series: [
            {
                name: '短链接数量',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: {{shortNumsClickJson}}
            },{
                name: '点击次数',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: {{clickNumsClickJson}}
            },
            {
                name: '独立UV',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: {{clickUvClickJson}}
            },
            {
                name: '唯一IP',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: {{ipNumsClickJson}}
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChartClick.setOption(optionClick);
    
    //近24小时分时段统计搜索
    $('.searchBtn').on('change',function(){
        var projectId = $("#projectId").val(), 
        taskId = 0,
        shortFrom = $("#shortFrom").val(),
        checkDevice = $('#checkDevice').val(),
        short_url_task_id = $("#short_url_task_id").val();
        if(this.id != 'projectId'){
            taskId = $("#taskId").val();
        }
        location.href = '/index/click/'+projectId+'/'+taskId+'/'+shortFrom+'/'+checkDevice+'/'+short_url_task_id;
    });
    $('#search').on('click',function(){
       var projectId = $("#projectId").val(), 
        taskId = $("#taskId").val(),
        shortFrom = $("#shortFrom").val(),
        checkDevice = $('#checkDevice').val(),
        short_url_task_id = $("#short_url_task_id").val();
        location.href = '/index/click/'+projectId+'/'+taskId+'/'+shortFrom+'/'+checkDevice+'/'+short_url_task_id;
    });
    
    
    //短链接点击对比搜索
    $('.searchClickBtn').on('change',function(){
        var projectClickId = $("#projectClickId").val(), 
        taskClickId = 0,
        shortClickFrom = $("#shortClickFrom").val(),
        checkClickDevice = $('#checkClickDevice').val(),
        short_url_task_click_id = $("#short_url_task_click_id").val(),
        timeFrom = $('#timeFrom').val(),
        timeTo = $('#timeTo').val();
        if(this.id != 'projectClickId'){
            taskClickId = $("#taskClickId").val();
        }
        location.href = '/index/click/'+projectClickId+'/'+taskClickId+'/'+shortClickFrom+'/'+checkClickDevice+'/'+short_url_task_click_id+'/'+timeFrom+'/'+timeTo;
    });
    $('#searchClick').on('click',function(){
        var projectClickId = $("#projectClickId").val(), 
        taskClickId = 0,
        shortClickFrom = $("#shortClickFrom").val(),
        checkClickDevice = $('#checkClickDevice').val(),
        short_url_task_click_id = $("#short_url_task_click_id").val(),
        timeFrom = $('#timeFrom').val(),
        timeTo = $('#timeTo').val();
        if(this.id != 'projectClickId'){
            taskClickId = $("#taskClickId").val();
        }
        location.href = '/index/click/'+projectClickId+'/'+taskClickId+'/'+shortClickFrom+'/'+checkClickDevice+'/'+short_url_task_click_id+'/'+timeFrom+'/'+timeTo
    });
</script>
{% endblock %}
