<aside>
    <div id="sidebar" class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a href="/index/index/">
                    <i class="icon-dashboard"></i>
                    <span>首页</span>
                </a>
            </li>
            {% if admin['role'] == 1%}
            <li class="sub-menu">
                <a href="javascript:;" class="{{ channel }} {{ channelapi }} {{ sign }}">
                    <i class="icon-laptop"></i>
                    <span>短信通道</span>
                </a>
                <ul class="sub">
                    <li class="{{ channellist }}"><a href="/channel/list">短信通道列表</a></li>
                    <li class="{{ signlist }}"><a href="/sign/list">短信签名列表</a></li>
                    <li class="{{ channelapitestSend }}"><a href="/channelapi/testSend">测试短信发送</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="{{ project }}">
                    <i class="icon-laptop"></i>
                    <span>产品管理</span>
                </a>
                <ul class="sub">
                    <li class="{{ projectlist }}"><a href="/project/list">产品列表</a></li>
                </ul>
            </li>
            
            <li class="sub-menu">
                <a href="javascript:;" class="{{ shorturl_list }}{{ short_task }}">
                    <i class="icon-laptop"></i>
                    <span>短地址管理</span>
                </a>
                <ul class="sub">
                    <li class="{{ shorturl_listlist }}"><a href="/shorturl_list/list">短域名列表</a></li>
                    <li class="{{ short_tasklist }}"><a href="/short_task/list">任务列表</a></li>
                </ul>
            </li>
            {% endif %}
            <li class="sub-menu">
                <a href="javascript:;" class="{{ record }}{{short_url_click_log}}">
                    <i class="icon-laptop"></i>
                    <span>日志管理</span>
                </a>
                <ul class="sub">
                    <li class="{{ recordsend }}"><a href="/record/send/">营销发送日志</a></li>
                    <li class="{{ recordreplay }}"><a href="/record/replay/">短信回复日志</a></li>
                    <li class="{% if 'strikeSend' == dispatcher.getActionName() %}active{% endif %}"><a href="/record/strikeSend/">触发发送日志</a></li>
                    <li class="{{ recordfail }}"><a href="/record/fail/">全部发送失败日志</a></li>
                    <li class="{{ short_url_click_loglog }}"><a href="/short_url_click_log/log/">短地址点击日志</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="{{ blacklist }}">
                    <i class="icon-laptop"></i>
                    <span>黑名单管理</span>
                </a>
                <ul class="sub">
                    <li class="{{ blacklistlist }}"><a href="/blacklist/list/">用户退订黑名单列表</a></li>
                    <li class="{{ blacklistlistAdd }}"><a href="/blacklist/listAdd/">手动添加黑名单列表</a></li>
                </ul>
            </li>
            {% if admin['role'] == 1%}
            <li class="sub-menu">
                <a href="javascript:;" class="{{ whitelist }}">
                    <i class="icon-laptop"></i>
                    <span>白名单管理</span>
                </a>
                <ul class="sub">
                    <li class="{{ whitelistadd }}"><a  href="/whitelist/list/">白名单列表</a></li>
                </ul>
            </li>
            {% endif %}
             <li class="sub-menu">
                <a href="javascript:;" class="{{ triggeringStyle }}">
                    <i class="icon-laptop"></i>
                    <span>触发类短信统计</span>
                </a>
                <ul class="sub">
                    <li class="{% if 'dayStrike' == dispatcher.getActionName() %}active{% endif %}"><a  href="/statistics/dayStrike/2" >总体统计</a></li>
                    <li class="{% if 'detailStrike' == dispatcher.getActionName() %}active{% endif %}"><a href="/statistics/detailStrike/2">发送明细</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="{{ marketingStyle }}">
                    <i class="icon-laptop"></i>
                    <span>营销类短信统计</span>
                </a>
                <ul class="sub">
                    <li class="{% if 'day' == dispatcher.getActionName() %}active{% endif %}"><a  href="/statistics/day/1" >总体统计</a></li>
                    <li class="{% if 'sign' == dispatcher.getActionName() %}active{% endif %}"><a href="/statistics/sign/1">按签名统计</a></li>
                    <li class="{% if 'channel' == dispatcher.getActionName() %}active{% endif %}"><a  href="/statistics/channel/1">按通道统计</a></li>
                    <li class="{% if 'detail' == dispatcher.getActionName() %}active{% endif %}"><a  href="/statistics/detail/1">发送明细</a></li>
                </ul>
            </li>
            
            
            <li class="sub-menu">
                <a href="javascript:;" class="{{statistics_short}}">
                    <i class="icon-laptop"></i>
                    <span>短地址点击统计</span>
                </a>
                <ul class="sub">
                    <li class="{{statistics_shortday}}"><a  href="/statistics_short/day/1" >总体统计</a></li>
                    <li class="{{statistics_shorttask}}"><a href="/statistics_short/task/1">按任务统计</a></li>
                    <li class="{{statistics_shortiplist}}"><a  href="/statistics_short/iplist/1">点击IP排名</a></li>
                </ul>
            </li>
       
        </ul>
    </div>
</aside>